body {
  font-family: sans-serif;
  background: #fffea3;
  margin: 0px;
  font-size: 12px;
  line-height: 20px;
}

h1, h2, h3, h4, h5 {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
}

hr {
  border-style: none;
  border-top: 1px solid black;
}

header {
  width: 100%;
  height: 20px;
  top: 0px;
  background: #fffea3;
  border-bottom: 1px solid black;
  position: fixed;
  text-align: center;
  overflow: hidden;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  z-index: 10;
  cursor: pointer;
}

/* header:hover { */
/*   height: 25px; */
/*   background: coral; */
/* } */

.activate {
  height: 80%;
}

header pre {
  text-align: left;
  color: darkblue;
}
header pre .date {
  color: black;
}
header pre .commit {
  color: coral;
}

footer {
  width: 100%;
  height: 20px;
  bottom: 0px;
  background: #fffea3;
  border-top: 1px solid black;
  position: fixed;
  text-align: center;
  overflow: hidden;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  z-index: 10;
  cursor: pointer;
}

footer .log {
  margin-top:  -12px;
  height: 100%;
  min-height: 30px;
  width: calc(100% + 17px);
  overflow-x: hidden;
  overflow-y: scroll;
}


footer pre {
  text-align: left;
  color: darkblue;
}
footer pre .date {
  color: black;
}
footer pre .commit {
  color: coral;
}

.list {
  float: left;
  margin-top: 20px;
  margin-right: 1px;
  width: 20%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 0px;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: auto;
  cursor: pointer;
}

ul .viewer{
  line-height: 10vw;
  font-size: 10vw;
}

ul:hover {
  color: darkblue;
  background: coral;
}

.cont-fiche {
  position: fixed;
  float: left;
  width: 79%;
  height: 100%;
  margin-top: 20px;
  margin-left: 20%;
}

.box-fiche {
  margin: 10px;
  width: calc(100% - 20px);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
    width: 100%;
    height: auto;

}

.text-speci {
    border-top: 1px solid black;
    width: calc(100% - 20px);
    display: inline-block;
}

.testing {
  text-align: center;
  border: none;
  background: transparent;
  resize: none;
}

.hd {
  font-size: 15vw;
  line-height: 17vw;
  width: calc( 100% - 39px);
  height: 17vw;
}

.s20 {
  font-size: 7vw;
  width: 100%;
  height: auto;
  line-height: auto;
}

nav {
  padding: 0 10px;
  position: fixed;
  background: #fffea3;
  border-left: 1px solid black;
  padding-bottom: 5px;
  width: 79%;
  right: calc( -79% + 39px);
  top: 21px;
  height: 100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}

nav:hover {
  right: -17px;
  /* background: coral; */
}

.download {
  margin-left: 50px;
}

a {
  color: darkblue;
  outline: 1px solid darkblue;
  padding: 4px;
  margin: 0 5;
  text-decoration: none;
}

a:hover {
  color: coral;
  background: darkblue;
}
.content pre{
  width: 80%;
  font-size: 10px;
  line-height: 12px;
  background: black;
  color: #fffea3;
  overflow: scroll;
}
.chars-set {
  width: 49%;
  float: left;
}

.glyph-micro {
  width: 49%;
  float: left;
}
#glyph-bg {
  width:auto;
  margin: 0 auto;
  position: absolute;

}


.chars-set canvas {
}
.chars-set canvas:hover {
  background: coral;
  outline: 1px solid black;

}


.search-bar {
  position: fixed;
  width: 20%;
}

.search-bar input {
  width: calc(100% - 0px);
  background: #fffea3;
  border: none;
  outline: 1px solid black;
}

.search-bar input:hover {
  background: coral;
  border: none;
  outline: none;
}
